#contactus {
  h4 {
    font-weight: 600;
    font-size: 24px;
  }
  .container {
    padding: 50px 0px;
  }
  .contact-details {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .contact-details span {
    margin-left: 5px;
  }
  .btn {
    min-width: 180px;
  }
}
