#events-gallery {
  h4 {
    font-weight: 600;
    font-size: 24px;
  }
  .container {
    padding: 50px 0px;
  }
  .card-img-top {
    height: 160px;
  }
  .card-text span {
    font-weight: 800;
    color: black;
  }
  .card-text li {
    font-size: 0.9em;
  }
  .badge {
    font-size: 0.5em;
    margin-left: 10px;
    vertical-align: super;
  }
}
