@charset "UTF-8";

section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.space {
  width: 100%;
  height: 200px;
}

.space-100 {
  width: 100%;
  height: 100px;
}

.hidden {
  opacity: 0;
}

#welcome {
  background-image: url("/img/slide1.jpg");
}

#welcome h1 {
  color: #ececec;
  font-size: 3.2em;
}

#welcome .item .icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #1bb1dc;
  text-align: center;
  vertical-align: middle;
}

#welcome .item .text {
  display: inline-block;
  color: #ececec;
  vertical-align: sub;
  margin-left: 10px;
  font-size: 1.2em;
}

#welcome .item img {
  margin-top: 10px;
}

#call-to-action {
  min-height: 0px !important;
}

.intro {
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.intro .owl-theme .owl-dots {
  position: absolute;
  bottom: 70px;
  right: 50px;
}

.intro .owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
  border: 0px solid #ffffff;
}

.intro .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #1bb1dc;
}

.intro .owl-theme .owl-dots .owl-dot.active span {
  background-color: #1bb1dc;
}

.intro .intro-item {
  padding-top: 2rem;
}

.intro .carousel-item-a {
  position: relative;
  height: 100vh;
}

.intro .carousel-item-a.bg-image {
  background-attachment: scroll;
}

.intro .intro-content {
  position: absolute;
}

.intro .intro-body {
  padding-left: 1rem;
}

.intro .intro-body .price-a {
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: 2px solid #1bb1dc;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.intro .spacial {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  color: #ffffff;
}

.intro .intro-title-top {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.intro .intro-title {
  transition-duration: 9s !important;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .intro-subtitle.intro-price {
  padding-top: 1rem;
  font-size: 1.2rem;
}

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 9px;
  margin: 5px 5px;
  background: #000000;
  border: 0px solid #000000;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #1bb1dc;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #1bb1dc;
  width: 35px;
}

.owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
}

.owl-arrow .owl-nav .owl-prev,
.owl-arrow .owl-nav .owl-next {
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #000000;
}

.owl-arrow .owl-nav .owl-prev.disabled,
.owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #adadad;
}

.owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-a .owl-arrow .owl-nav {
  font-size: 1.8rem;
  margin-top: -110px;
}

.nav-arrow-a .owl-arrow .owl-nav .owl-next {
  margin-left: 15px;
}

.nav-arrow-b .owl-arrow .owl-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev,
.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  padding: 0.7rem 1.5rem !important;
  display: inline-block;
  transition: all 0.6s ease-in-out;
  color: #ffffff;
  background-color: #1bb1dc;
  opacity: 0.9;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev.disabled,
.nav-arrow-b .owl-arrow .owl-nav .owl-next.disabled {
  transition: all 0.6s ease-in-out;
  color: #ffffff;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-prev:hover,
.nav-arrow-b .owl-arrow .owl-nav .owl-next:hover {
  background-color: #26a356;
}

.nav-arrow-b .owl-arrow .owl-nav .owl-next {
  margin-left: 0px;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-a {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 27%, rgba(0, 0, 0, 0.65) 90%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#profile h4 {
  font-weight: 600;
  font-size: 24px;
}

#profile .container {
  padding: 50px 0px;
}

#goals {
  min-height: 0px;
}

#goals .container {
  padding: 50px 0px;
}

#goals h4 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

#goals ul {
  text-align: left;
}

#goals p,
#goals li {
  font-weight: 500;
  color: #FFFFFF;
}

#who_we_are {
  min-height: 0px;
}

#who_we_are h4 {
  font-weight: 600;
  font-size: 24px;
}

#who_we_are .container {
  padding: 50px 0px;
}

#why_us h4 {
  font-weight: 600;
  font-size: 24px;
}

#why_us .container {
  padding: 50px 0px;
}

#why_us .service {
  margin: 40px 0px;
  text-align: center;
  padding: 0px 30px;
}

#why_us .service h4 {
  margin: 10px 0px;
  font-size: 18px;
}

#why_us .service .icon {
  margin: 0 auto;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #1bb1dc;
}

#why_us .service img {
  position: relative;
  top: 18%;
}

#services h4 {
  font-weight: 600;
  font-size: 24px;
}

#services .container {
  padding: 50px 0px;
}

#services .card {
  border: 0;
  border-radius: 0px;
  box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 0px 0px 36px 0px;
  position: relative;
  margin-bottom: 50px;
  min-height: 420px;
}

#services .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #1bb1dc;
  transition: 0.5s;
}

#services .card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#services .card:hover:after {
  width: 100%;
}

#services .card .card-header {
  background-color: white;
  border-bottom: 0px;
  -moz-text-align-last: center;
  text-align-last: center;
}

#services .card .card-image {
  margin-bottom: 30px;
  overflow: hidden;
}

#services .card .card-image img {
  width: 100%;
  height: 180px;
  transition: all 300ms;
}

#services .card:hover .card-image img {
  transform: scale(1.2);
}

#services .card .card-title {
  margin-bottom: 16px;
  color: #535074;
}

#services .card .card-block {
  padding-top: 0;
  text-align: center;
}

#services .card .card-block p {
  margin: 10px 25px 30px 25px;
  text-align: justify;
}

#services .card h3 {
  font-size: 64px;
  margin-bottom: 0px;
  color: #535074;
}

#training_welcome {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 0px !important;
  height: 500px;
}

#training_welcome .container {
  z-index: 1020;
  padding-top: 200PX;
}

#training_welcome .title {
  color: #ececec;
  font-size: 3.5em;
  margin-bottom: 0px;
}

#training_welcome .subtitle {
  color: #ececec;
  font-size: 1em;
  margin-bottom: 0px;
}

#training_welcome .counter-container {
  margin-top: 10px;
}

#training_welcome .counter {
  color: #ececec;
  display: inline-block;
  margin-right: 20px;
}

#training_overview .container {
  padding-top: 100px;
}

#training_overview h3 {
  text-align: left !important;
}

#training_overview .output > p {
  margin: 0px;
}

#curriculum-list {
  padding: 0;
  list-style: none;
}

#curriculum-list .item {
  border-bottom: 1px solid #ebebeb;
}

#curriculum-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-right: 20px;
}

#curriculum-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#curriculum-list ul {
  margin-bottom: 20px;
}

#curriculum-list a.collapse {
  color: #1bb1dc;
}

#curriculum-list a.collapsed {
  color: #000;
}

#curriculum-list .item ol {
  margin-bottom: 20px;
}

#curriculum-list a.collapsed i::before {
  content: "\F102" !important;
}

#events-gallery h4 {
  font-weight: 600;
  font-size: 24px;
}

#events-gallery .container {
  padding: 50px 0px;
}

#events-gallery .card-title {
  padding: 1.25rem;
  margin-bottom: 0px;
}

#events-gallery .card-img-top {
  height: 200px;
}

#events-gallery .card-img-top img {
  height: inherit;
  width: inherit;
}

#events-gallery .card-text span {
  font-weight: 800;
  color: black;
}

#events-gallery .card-text li {
  font-size: 0.9em;
}

#events-gallery .badge {
  font-size: 0.5em;
  margin-left: 10px;
  vertical-align: super;
}

#gallery-details {
  margin-top: 120px;
}

#gallery-details h1 {
  margin-bottom: 5px;
}

#gallery-details .badge {
  font-size: 1em;
  vertical-align: super;
}

#gallery-details .gallery-text {
  margin-top: 20px;
}

#gallery-details .gallery-text p {
  font-size: 1em;
  margin-bottom: 10px;
}

#gallery-details .gallery-text span {
  font-size: 1.1em;
  font-weight: bold;
}

#gallery-carousel {
  margin-top: 10px;
}

#gallery-carousel .carousel-item img {
  width: inherit;
  height: 60vh;
}

#contactus h4 {
  font-weight: 600;
  font-size: 24px;
}

#contactus .container {
  padding: 50px 0px;
}

#contactus .contact-details {
  margin-top: 10px;
  margin-bottom: 5px;
}

#contactus .contact-details span {
  margin-left: 5px;
}

#contactus .btn {
  min-width: 180px;
}

#hero {
  position: relative;
  min-height: 0px;
}

#hero .container {
  padding: 150px 0px 120px 0px;
}

#hero .title {
  color: #FFFFFF;
}

#hero .sub-title {
  color: #dadada;
  font-size: 1.5em;
}

.backdrop {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #00000078;
}

.footer {
  background: #1e272e;
  width: 100%;
  padding: 50px 0px;
}

.footer p {
  color: #FFF;
}

.footer p.contact-details {
  font-size: 0.8em;
  color: #ffffffb5;
  margin-bottom: 5px;
}

.footer .footer-title {
  font-size: 1em;
  color: #FFFF;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff0f;
}

.footer .footer-links {
  list-style: none;
  padding-left: 0px;
}

.footer .footer-links li {
  margin-bottom: 5px;
}

.footer .footer-links li a {
  color: #FFF;
  list-style: none;
}

