section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.space {
  width: 100%;
  height: 200px;
}

.hidden {
  opacity: 0;
}

#welcome {
  background-image: url("/img/slide1.jpg");
}

#welcome h1 {
  color: #ececec;
  font-size: 3.2em;
}

#welcome .item .icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #1bb1dc;
  text-align: center;
  vertical-align: middle;
}

#welcome .item .text {
  display: inline-block;
  color: #ececec;
  vertical-align: sub;
  margin-left: 10px;
  font-size: 1.2em;
}

#welcome .item img {
  margin-top: 10px;
}

#call-to-action {
  min-height: 0px !important;
}

#profile h4 {
  font-weight: 600;
  font-size: 24px;
}

#profile .container {
  padding: 50px 0px;
}

#goals {
  min-height: 0px;
}

#goals .container {
  padding: 50px 0px;
}

#goals h4 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

#goals ul {
  text-align: left;
}

#goals p,
#goals li {
  font-weight: 500;
  color: #FFFFFF;
}

#who_we_are {
  min-height: 0px;
}

#who_we_are h4 {
  font-weight: 600;
  font-size: 24px;
}

#who_we_are .container {
  padding: 50px 0px;
}

#why_us h4 {
  font-weight: 600;
  font-size: 24px;
}

#why_us .container {
  padding: 50px 0px;
}

#why_us .service {
  margin: 40px 0px;
  text-align: center;
  padding: 0px 30px;
}

#why_us .service h4 {
  margin: 10px 0px;
  font-size: 18px;
}

#why_us .service .icon {
  margin: 0 auto;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #1bb1dc;
}

#why_us .service img {
  position: relative;
  top: 18%;
}

#hero {
  position: relative;
  min-height: 0px;
}

#hero .container {
  padding: 150px 0px 120px 0px;
}

#hero .title {
  color: #FFFFFF;
}

#hero .sub-title {
  color: #dadada;
  font-size: 1.5em;
}

.backdrop {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #00000078;
}

