section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.space {
  width: 100%;
  height: 200px;
}

.hidden {
  opacity: 0;
}

#welcome {
  background-image: url("/img/slide1.jpg");
}

#welcome h1 {
  color: #ececec;
  font-size: 3.2em;
}

#welcome .item .icon {
  display: inline-block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #1bb1dc;
  text-align: center;
  vertical-align: middle;
}

#welcome .item .text {
  display: inline-block;
  color: #ececec;
  vertical-align: sub;
  margin-left: 10px;
  font-size: 1.2em;
}

#welcome .item img {
  margin-top: 10px;
}

#call-to-action {
  min-height: 0px !important;
}

#profile h4 {
  font-weight: 600;
  font-size: 24px;
}

#profile .container {
  padding: 50px 0px;
}

#goals {
  min-height: 0px;
}

#goals .container {
  padding: 50px 0px;
}

#goals h4 {
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}

#goals ul {
  text-align: left;
}

#goals p,
#goals li {
  font-weight: 500;
  color: #FFFFFF;
}

#who_we_are {
  min-height: 0px;
}

#who_we_are h4 {
  font-weight: 600;
  font-size: 24px;
}

#who_we_are .container {
  padding: 50px 0px;
}

#why_us h4 {
  font-weight: 600;
  font-size: 24px;
}

#why_us .container {
  padding: 50px 0px;
}

#why_us .service {
  margin: 40px 0px;
  text-align: center;
  padding: 0px 30px;
}

#why_us .service h4 {
  margin: 10px 0px;
  font-size: 18px;
}

#why_us .service .icon {
  margin: 0 auto;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: #1bb1dc;
}

#why_us .service img {
  position: relative;
  top: 18%;
}

#services h4 {
  font-weight: 600;
  font-size: 24px;
}

#services .container {
  padding: 50px 0px;
}

#services .card {
  border: 0;
  border-radius: 0px;
  box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
  transition: all 0.3s ease-in-out;
  padding: 0px 0px 36px 0px;
  position: relative;
  margin-bottom: 50px;
  min-height: 420px;
}

#services .card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #1bb1dc;
  transition: 0.5s;
}

#services .card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#services .card:hover:after {
  width: 100%;
}

#services .card .card-header {
  background-color: white;
  border-bottom: 0px;
  text-align-last: center;
}

#services .card .card-image {
  margin-bottom: 30px;
  overflow: hidden;
}

#services .card .card-image img {
  width: 100%;
  height: 180px;
  transition: all 300ms;
}

#services .card:hover .card-image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#services .card .card-title {
  margin-bottom: 16px;
  color: #535074;
}

#services .card .card-block {
  padding-top: 0;
  text-align: center;
}

#services .card .card-block p {
  margin: 10px 25px 30px 25px;
  text-align: justify;
}

#services .card h3 {
  font-size: 64px;
  margin-bottom: 0px;
  color: #535074;
}

#hero {
  position: relative;
  min-height: 0px;
}

#hero .container {
  padding: 150px 0px 120px 0px;
}

#hero .title {
  color: #FFFFFF;
}

#hero .sub-title {
  color: #dadada;
  font-size: 1.5em;
}

.backdrop {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #00000078;
}

